<div class="flex flex-col w-full">
    <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">Buscador de Issues</div>
        <div class="font-medium tracking-tight text-secondary">Realice busquedas dinámicas de cualquier Issue en los repositorios publicos de Github</div>
    </div>
    <div class="mt-4">
        <div class="flex gap-4 items-center">
            <app-issue-search-field class="w-full" (search)="search($event)"></app-issue-search-field>
        </div>
        <div>
            <span class="text-sm font-semibold">{{ total$ | async | number }} Issues</span>
        </div>
    </div>
</div>

<div *ngIf="data$ | async as data; else loading" 
     [ngClass]="{
         'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3': data.length > 0,
         'grid-cols-1': data.length == 0
     }"
     class="grid gap-8 w-full mt-4">
     <div *ngIf="data.length == 0" class="flex justify-center w-full">
         <p class="text-secondary">No se han encontrado Issues</p>
     </div>
     <app-issue-card *ngFor="let issueItem of data" [item]="issueItem"></app-issue-card>
</div>

<ng-template #loading>
    <div class="flex justify-center items-center w-full h-72">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
